@use 'colors';

.contacts {
    padding-top: 64px;
    padding-bottom: 180px;

    &__button {
        margin-top: 12px;
        display: block;
        border-radius: 8px;
        padding: 8px;
        color: colors.$branco;
        font-weight: bold;
        background-color: purple;
        text-align: center;

        &:hover {
            background-color: rgb(163, 0, 163);
        }
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 80px;
    }


    &__img {
        height: 500px;
        border-radius: 8px;

    }

    &__content {

        &__title {
            font-size: 32px;
            margin-bottom: 16px;
            padding-bottom: 8px;
            border-bottom: 2px solid colors.$marrom;
            text-align: center;
        }

        .horarios {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 24px;
            padding: 12px;
            gap: 32px;
            border: 2px solid gold;
            border-radius: 8px;

            i {
                color: gold;
                font-size: 48px;
            }

            &__list {

                &__item {
                    margin: 8px 0;
                }
            }

        }

        &__list {
            display: flex;
            justify-content: center;
            gap: 40px;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 24px;

                a {
                    padding-bottom: 16px;

                    img {
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;

                        &:hover {
                            height: 250px;
                            width: 250px;
                            transition: all .5s ease;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__img {
            height: 200px;
            width: 100%;
            margin-bottom: 8px;
        }

        .contacts__content__list__item {
            img {
                height: 100px;
                width: 100px;
            }
        }

    }

    @media (max-width: 1024px) {
        .container {
            display: block;
            text-align: center;
        }

        &__img {
            height: 300px;
            margin-bottom: 8px;
        }

        .contacts__content__list__item {
            img {
                height: 100px;
                width: 100px;
            }
        }

    }
}