@use 'colors';

.social {
    padding-top: 100px;
    padding-bottom: 180px;
    text-align: center;

    .container {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    &__title {
        font-size: 32px;
        margin-bottom: 16px;
        padding-bottom: 8px;
        border-bottom: 2px solid colors.$marrom;
        text-align: center;
    }

    &__img {
        height: 400px;
        width: 600px;
        border-radius: 8px;
    }

    &__links {

        ul {
            display: flex;
            justify-content: center;

            li {
                a {
                    img {
                        height: 200px;
                        width: 200px;

                        &:hover {
                            height: 250px;
                            width: 250px;
                            transition: all .5s ease;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .container {
            display: block;
        }

        &__img {
            height: 200px;
            width: 400px;
            margin-bottom: 12px;
        }

        .social__links {
            img {
                height: 150px;
                width: 150px;
            }
        }
    }

    @media (max-width: 767px) {
        .container {
            display: block;
        }

        &__img {
            height: 200px;
            width: 100%;
            margin-bottom: 12px;
        }

        .social__links {
            img {
                height: 150px;
                width: 150px;
            }
        }
    }

    
}