@use 'colors';
@use 'header';
@use 'hero';
@use 'about';
@use 'partners';
@use 'social';
@use 'contacts';
@use 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    color: colors.$branco;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: 80%;
    }

    @media (max-width: 1024px) {
        width: 90%;
    }
}

body {
    background-color: colors.$azul;
}

section {
  scroll-margin-top: 80px; // ajuste para a altura do seu header
  overflow-x: hidden;
}